// http://icomoon.io/app/#/select
// Instalar LiveStyle
// https://chrome.google.com/webstore/detail/emmet-livestyle/diebikgmpmeppiilkaijjbdgciafajmg
@import "normalize.styl"
@import "fonts.styl" 
@import "icono.styl"

headercolor = rgba(255,255,255,0.9)
body
	background #222
header
	background #222
	height 100%
	margin 0
	position fixed
	padding 0
	text-align center
	width 22%

	figure
		padding 0
		margin 0
		position relative
		width 100%

		figcaption
			color headercolor
			font-style italic
			text-shadow -1.8px 1.5px 12.7px rgba(0,0,0,0.7)
			span
				font-weight bold
			p
				width 100%
		img
			border 2px solid rgba(0,0,0,0.2)
			box-shadow 4px 4px 1px #000
			border-radius 50%
			width 50%


	nav
		background #222			
		width 100%
		ul 
			padding 0
			li 
				list-style none
				margin 0
				padding 0
				overflow hidden
				a
					border 1px solid rgba(255,255,255,0.2)
					color headercolor
					background #222
					display inline-block
					text-decoration none
					text-align center
					padding 0.7em 0 0.7em 0
					width 100%

					&:hover
						color black
						background #FFF
					&:before
						content ''
						padding 0 0em
						float left

	.social
		position absolute
		left 0px
		bottom 40px
		display inline-block
		width 100%
		background #FFF
			img
				width 100%
section
	background #222
	height 1000px
	position absolute
	left 22%
	width 78%
article
	position absolute 
	height 355px
	width 100%
footer
	position fixed
	background transparent
	width 100%
	bottom 0%
	left 0px
	z-index 2

	p 
		position relative
		text-align right
		color headercolor
		font-style italic
.item-principal
	//background #0188E1
	position relative 
	background: linear-gradient(-45deg, rgba(1,136,225,0) 2%, rgba(6,127,212,0) 5%, rgba(30,87,153,0.7) 19%, rgba(26,94,163,0.8) 21%, rgba(1,136,225,1) 33%, rgba(30,87,153,1) 42%, rgba(17,109,185,1) 46%, rgba(1,136,225,1) 51%, rgba(18,108,184,1) 59%, rgba(30,87,153,1) 65%, rgba(30,87,153,1) 72%, rgba(30,87,153,1) 75%, rgba(7,126,211,1) 83%, rgba(1,136,225,0.96) 85%, rgba(21,102,175,0.8) 94%, rgba(28,91,159,0) 97%, rgba(30,87,153,0) 98%); /* FF3.6+ */
	
	figure
		background transparent
		position absolute
		bottom 0px
		right 0px
		height 100%
		margin 0
		width 550px
		
		img
			width 100%
		figcaption
			color headercolor
			position absolute
			top 50%
			left -20%
			width 428px

			p
				margin-bottom 1.5em
			a
				border 1.2px solid rgba(0,0,0,0.2)
				color headercolor
				border-radius 5%
				box-shadow 1px 2px 1px rgba(0,0,0,0.2)
				text-decoration none
				background #0188E1
				padding 1em 1.5em

			a:hover
				color black
				background #FFF
					
			h1
				font-size 1.5em
.servicios
	color headercolor
	background #222
	position relative
	top 100%
	width 99.6%
	height 90%
	left 0px
	z-index 1
	//overflow hidden
	//border 0.4px solid white
		
	.servicio
		text-align left
		height 85%
		position relative
		display inline-block
		vertical-align top
		width 24%

		.titulo-servicio
			color headercolor
			font-size 1.4em
			font-weight bold
			font-style italic
			text-align center
			height 10%
			margin 1em 0
		.descripcion-servicio
			font-style italic
			margin 1em
			text-align left
			margin-bottom 1em 0
		.mas-servicio
			position absolute
			color headercolor
			border-radius 5%
			box-shadow 1px 2px 1px rgba(255,255,255,0.2)
			text-decoration none
			background #0188E1
			padding 1em 1.5em
			bottom 3.4em
			right 8px

			&:hover
				color black
				background #FFF
.item-secundario
	height 40%
	position absolute
	display block
	//background gold
	bottom -8%
	text-align center
	color headercolor
	font-weight normal
	
	.item
		 
		display inline-block
		position relative
		height 64%
		width 20%
		padding 1em 0.5em 0.4em 0.5em
		cursor: default;
		perspective: 900px;

		figure
			background transparent
			width 200px
			margin 0
			position relative
			transform-style: preserve-3d;
				
			img
				border-radius 1em
				border 1px solid #0188E1
				box-shadow 1px 1px 1px #0188E1
				width 100%
.item-descripcion
	display none
	position absolute
	top 0
	margin 50% 0
	padding 0
	text-align center
	color black
	//background red
	height 50%
	width 100%
.item-secundario-link
	text-decoration none
	color headercolor
	position relative
	border-radius 2px
	left 35%
	background #0188E1
	width 30%
	padding 1.5em 1em
	display block
.item-secundario-titulo
	font-style italic
	font-weight normal
.item-secundario-descripcion
	font-style 1em
	font-style italic

/*


.icon-app-desktop:before {
	content: "\e601";
	margin 0px 15px 0px 0px;
}
.icon-app-mobile:before {
	content: "\e602";
	margin 0px 15px 0px 0px;
}
.icon-web-app:before {
	content: "\e603";
	margin 0px 15px 0px 0px;

}
.icon-web-desing:before {
	content: "\e604";
	margin 0px 15px 0px 0px;

}


.item-secundario
	border-top 1px solid white
	color headercolor
	position absolute
	background #1E9ADD
	bottom -73%
	height 100%
	text-align center
	.item-secundario-titulo
		font-style 1.5em
		font-style italic
	.item-secundario-descripcion
		font-weight bold
		font-style 1em
	.item-secundario-link
		text-decoration none
		text-align center
		left 42%
		color rgba(0,0,0,0.5)
		position absolute
	.item-secundario-link:after
		content "  --->"
		&:hover
			color headercolor
.item
	background #1E9ADD
	display inline-block
	position relative
	left 0px
	height 254px
	width 20%
	top 24px
	float left
	vertical-align top

	.item-imagen
		width 100%
		height 100px
		margin 0px
		img
			width 100%

		img:hover
			margin 1em

		.item-descripcion
			display none
			position absolute 
			text-align center
			margin 0
			padding 0










.servicios
	background silver
	position relative
	height 500px
	width 100%
	margin 0 
	padding 0
	top 100%

	.sevicios-contenedor
		position absolute
		background red
		height 74% 
		width 35%
		top 0px
		float left

		.servicios-titulo
			color headercolor
			font-weight bold
			font-size 1.5em
			text-align center
		.servicios-descripcion
			position relative
			color headercolor
			margin 0.5em
			text-align left
			background gold
		.servicios-leer
			position absolute
			color headercolor
			border-radius 5%
			box-shadow 1px 2px 1px rgba(255,255,255,0.2)
			text-decoration none
			background #0188E1
			padding 1em 1.5em
			bottom 3.4em
			right 8px

			&:hover
				color black
				background #FFF
						
						*/