@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?f11d2k');
	src:url('../fonts/icomoon.eot?#iefixf11d2k') format('embedded-opentype'),
		url('../fonts/icomoon.woff?f11d2k') format('woff'),
		url('../fonts/icomoon.ttf?f11d2k') format('truetype'),
		url('../fonts/icomoon.svg?f11d2k#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\68";
}
.icon-blog:before {
	content: "\e600";
}
.icon-images:before {
	content: "\e602";
}
.icon-about:before {
	content: "\e603";
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon2.eot?s24jos');
	src:url('../fonts/icomoon2.eot?#iefixs24jos') format('embedded-opentype'),
		url('../fonts/icomoon2.woff?s24jos') format('woff'),
		url('../fonts/icomoon2.ttf?s24jos') format('truetype'),
		url('../fonts/icomoon.svg?s24jos#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-app-desktop:before {
	content: "\e601";
	margin 0px 15px 0px 0px;
}
.icon-app-mobile:before {
	content: "\e602";
	margin 0px 15px 0px 0px;
}
.icon-web-app:before {
	content: "\e603";
	margin 0px 15px 0px 0px;

}
.icon-web-desing:before {
	content: "\e604";
	margin 0px 15px 0px 0px;

}
