<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Subir Proyectos</title>
	<meta charset="UTF-8"/>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<nav>
  		<ul>
  			<li><a href="/">Inicio</a></li>
  		</ul>
  	</nav>
	<form action="/" method="post">
		<input type="text" name="title" placeholder="Titulo">
		<br>
		<input type="text" name="descriptionshorte" placeholder="Descripcion Corta">
		<br>
		<input type="text" name="description" placeholder="Tipo de Aplicación">
		<br>
		<br>
		<input type="text" name="link" placeholder="link">
		<br>
		<input type="text" name="tecnologie" placeholder="tecnologie">
		<br>
		<input type="text" name="plataform" placeholder="plataform">
		<br>
		<input type="text" name="developer" placeholder="developer">
		<br>
		<input type="text" name="imagen" placeholder="imagen">
		<br>
		<input type="text" name="icon" placeholder="Icono">
		<br>
		<input type="submit">
	</form>
</body>
</html>