<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Subir Proyectos</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet"href='/stylesheets/estilos.css' />
	<link href='http://fonts.googleapis.com/css?family=Arimo|Playfair+Display:400italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<header class="main-Header">
		
		<figure class="header-Imagen">
			<img src="/images/3.jpg" />
			<figcaption class="header-Description">
				<span>Héctor Campos Alonso</span>
				<p>Ingeniero en Tecnológias de la Información </p>
			</figcaption>
		</figure>

		<nav class="header-Nav">
	      <ul class="header-List">
	        <li class="header-list-item"><a href="/" class="icon-home" >Inicio</a></li>
	        <li class="header-list-item"><a href="/galeria.html" class="icon-images" >Fotos</a></li>
	        <li class="header-list-item"><a href="tutorial.html" class="icon-tutorial" >Tutoriales</a></li>
	        <li class="header-list-item"><a href="/acerca-de" class="icon-user2">Acerca de Mi</a></li>
	      </ul>
    	</nav>	

		<section class='header-Social'>
			<a class="header-Social-Item" href="https://twitter.com/Huixcospartan"><img src="/images/twitter.png"></a>
			<a class="header-Social-Item" href="https://www.facebook.com/AlonsoSilence"><img src="/images/facebook.png"></a>
			<a class="header-Social-Item" href="https://github.com/AlonsoCampos"><img src="/images/github.png"></a>
			<a class="header-Social-Item" href="http://www.youtube.com/channel/UCZOTedwROfSWgUwNarg3R1g"><img src="/images/youtube.png"></a>
		</section>
	</header>

	<section class="principal-CV">
		<article id='acerca-principal'>
			<h1 id='acerca-titulo'>Agrega tus Projectos</h1>
			<h2 id='acerca-subtitulo'>Muestra de que eres <strong>capaz</strong> al <strong>mundo entero</strong></h2>
		</article>

		<form class="form-action" action="" method="post">
		
		<article class="form-Left">
			<input type="text" name="name" placeholder="Nombre">
			<input type="text" name="surnames" placeholder="Apellidos">
			<textarea name="biography" placeholder="Biografia"></textarea>
			<input type="text" name="portafolio" placeholder="Sitio Web">
			<input type="text" name="nationality" placeholder="Nacionalidad">	
		</article>

		<article class="form-Right">
			<input type="text" name="email" placeholder="Email">
			<input type="text" name="phone" placeholder="Telefono">
			<input type="text" name="skills" placeholder="Habilidades">
			<input type="text" name="certification" placeholder="Certificaciones">
			<input type="text" name="imagen" placeholder="Imagen">

			<input type="submit" value="Confirmar">
		</article>	
		
	</form>


	</section>
</body>
</html>