body
  	padding: 50px
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
h1
  	color: #00B7FF
  	font-style italic
nav
	width 100%
	ul
		margin 0
		li 
			display inline-block
			a 
				list-style none
				display inline-block
				background orange
				color white
				text-decoration none
				padding 1em 1.4em
				&:hover
					background #EEE
					color black

li 
	display block
	
	a
		display inline-block
		list-style none
		background orange
		padding 1em 1.4em
		margin 1em 0
		color white
		text-decoration none
		&:hover
			background #EEE
			color black