body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  color: #00b7ff;
  font-style: italic;
}
nav {
  width: 100%;
}
nav ul {
  margin: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  list-style: none;
  display: inline-block;
  background: #ffa500;
  color: #fff;
  text-decoration: none;
  padding: 1em 1.4em;
}
nav ul li a:hover {
  background: #eee;
  color: #000;
}
li {
  display: block;
}
li a {
  display: inline-block;
  list-style: none;
  background: #ffa500;
  padding: 1em 1.4em;
  margin: 1em 0;
  color: #fff;
  text-decoration: none;
}
li a:hover {
  background: #eee;
  color: #000;
}
